* {
    margin: 0;
    padding: 30;
    box-sizing: border-box;
}

body {
    font-family: 'Edge 12';
    background: grey;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

/* Header Styling */
header {
    width: 100%;
    max-width: 1000px;
    background-color: pink;
    color: black;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
}


nav {
    background-color: gold;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 25px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 35px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 35px;
    transition: background 0.5s;
}

nav ul li a:hover {
    background-color: white;
}


.section-container {
    width: 100%;
    max-width: 1000px;
    background-color: pink;
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    color: #451952;
    margin-bottom: 10px;
}


form input,
form select {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ae445a;
    border-radius: 11px;
    font-size: 1em;
}

form input:focus,
form select:focus {
    border-color: red;
    outline: none;
}

/* Button Styling */
button,
.btn {
    background-color: green;
    color: #e8bcb9;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

button:hover,
.btn:hover {
    background-color: #9b2c42;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th,
td {
    padding: 10px;
    border: 2px solid #63143e;
    text-align: center;
}

thead {
    background-color: purple;
    color: #ffdfdd;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e8bcb9;
}

/* Search Input */
#current-booking-search,
#search-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #ae445a;
    border-radius: 10px;
}

#current-booking-search:focus,
#search-input:focus {
    border-color: #451952;
}

/* Search Results Styling */
#search-results {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

#search-results li {
    background-color: #f39f5a;
    border: 2px solid #662549;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    color: #1d1a39;
}


footer {
    background-color: #1d1a39;
    color: #e8bcb9;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}